<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companies</title>
    <style>
        img {
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); 
            transition: box-shadow 0.3s ease-in-out; 
        }

        img:hover {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6); 
            transform: scale(1.05); 
        }
    </style>
</head>
<body>
    <u><h1>Company Information</h1>
    <br><br>
    <h2>Sector Distribution in S&P 500 Companies:</h2>
    <img src="{{ url_for('static', filename='sector.png') }}" alt="Matplotlib Plot">
    <br>
    <br>
    <br>
    <h2>Top 10 Companies by Market Cap:</h2>
    <img src="{{ url_for('static', filename='marketcap.png') }}" alt="Matplotlib Plot">
    <br>
    <br>
    <br>
    <h2>Most Popular Stock Exchanges in S&P 500 Companies:</h2>
    <img src="{{ url_for('static', filename='exchanges.png') }}" alt="Matplotlib Plot">
</body>
</html>