<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to Stock Data Analytics</h1>
    <br>
    <h2>Select an Option:</h2>
    <ol>
        <h4>
            <li><a href="{{ url_for('stocks') }}">Stocks Information</a></li>
            <li><a href="{{ url_for('companies') }}">Company Information</a></li>

        </h4>
    </ol>
</body>
</html>